.class-list-container {
    padding: 20px;
    max-width: 100%;
    margin: auto;
  }
  
  h2 {
    color: #3C4858;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
  }
  
  /* Table Wrapper */
  .table-wrapper {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Table Styling */
  .student-table {
    width: 100%;
  }
  
  th, td {
    padding: 12px 5px;
    text-align: left;
  }
  
  th {
    background-color: #f4f6f9;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  tr:hover {
    background-color: #efe4e4a3;
  }

  /* Row Hover Effect */
tr.mat-row:hover {
    background-color: #dfcdcd; /* Light grey background on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  /* Status Toggle */
  .status-text {
    margin-left: 8px;
    font-size: 0.9rem;
    color: #666;
  }
  
  /* Action Buttons */
  button {
    margin: 0 5px;
  }
  
  .mat-icon {
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    th, td {
      padding: 10px;
    }
  
    button {
      margin: 0 3px;
    }
  }
  
  /* Filter Section */
.filter-section {
    margin-bottom: 20px;
  }
  
  .filter-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
  
    mat-form-field {
      flex: 1 1 200px;
    }
  
    button {
      flex: 0 0 auto;
    }
  }
  

  .filter-controls mat-form-field {
    flex: 1 1 200px; /* Allow form fields to grow and shrink */
  }
  
  .filter-controls button {
    flex: 0 0 auto; /* Prevent button from growing or shrinking */
    height: 66px; /* Match the height of form fields */
    display: flex;
    align-items: center;
    justify-content: center;
  }