<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <app-sidebar-menu></app-sidebar-menu>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>School Management System</span>
    </mat-toolbar> -->

    <app-header></app-header>
    
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>