:host {
    display: block;
    height: 100vh;
    background-color: #e64a2e;
  }
  .sidenav-container {
    height: 100%;
  }
  .sidenav {
    width: 270px;
    background-color: #e64a2e;
  }
  .content {
    padding: 0.5px;
  }
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e64a2e;
  }

  mat-toolbar button {
  margin-left: 5px;
}

mat-toolbar mat-icon {
  margin-right: 8px;
}
  